.related-articles ul {
  list-style: none;
  gap: var(--spacing-400);
  grid-template-columns: 1fr;
  display: grid;
  margin: 0;
  padding: 0;
}

.related-articles h2,
.related-articles h3 {
  font-size: var(--font-size-200);
}

.related-articles a {
  text-decoration: none;
}

.related-articles .article-click {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;
}

.related-articles .article-image {
  position: relative;
  border-radius: var(--rounding-m);
  line-height: 0;
  overflow: hidden;
}

.related-articles .article-image img {
  width: 100%;
  height: 208px;
  object-fit: cover;
  transition: transform 0.4s;
}

.related-articles .article-click:hover .article-image img {
  transform: scale(1.04);
}

.related-articles .article-body {
  padding: var(--spacing-400) 0 0 var(--spacing-300);
}

.related-articles .article-body p:not(.eyebrow) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (width >= 800px) {
  .related-articles h2,
  .related-articles h3 {
    font-size: var(--font-size-700);
  }

  .related-articles .article-click {
    max-width: 600px;
  }

  .related-articles .article-body {
    padding: var(--spacing-300) var(--spacing-300) 0;
  }
}

@media (width >= 1000px) {
  .related-articles ul {
    gap: var(--spacing-300);
    max-width: 900px;
    margin: 0 auto;
    padding: 0 var(--spacing-300);
  }

  .related-articles.rows-1 ul,
  .related-articles.rows-3 ul {
    grid-template-columns: 1fr;
  }

  .related-articles.rows-2 ul,
  .related-articles.rows-4 ul {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .related-articles .article-click {
    max-width: unset;
  }

  .related-articles .article-image img {
    height: 324px;
  }
}

@media (width >= 1200px) {
  .related-articles.rows-3 ul {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
