/*
  - ESaaS Demo Tool -
  Fonts Definitions
  Adapt styles/fonts.css:
  (Do not to forget to add the generated font files (under ./fonts folder) into the Github repository)
*/

@font-face {
  font-family: 'Gotham Narrow SSm A';
  src: url('../fonts/gotham-narrow-ssm-a-400-normal.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Gotham Narrow SSm A';
  src: url('../fonts/gotham-narrow-ssm-a-500-normal.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: auto;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Sentinel A';
  src: url('../fonts/sentinel-a-300-normal.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: auto;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Sentinel A';
  src: url('../fonts/sentinel-a-500-normal.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: auto;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Gotham Narrow SSm B';
  src: url('../fonts/gotham-narrow-ssm-b-400-normal.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Gotham Narrow SSm B';
  src: url('../fonts/gotham-narrow-ssm-b-500-normal.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: auto;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Sentinel B';
  src: url('../fonts/sentinel-b-300-normal.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: auto;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Sentinel B';
  src: url('../fonts/sentinel-b-500-normal.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: auto;
  unicode-range: U+0-10FFFF;
}